.landing-navbar-fixed{
  position:sticky;
  z-index: 1;
  top: 0;
}
.landing-header-main {
  height: auto;
  width: 100%;
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.landing-navbar-Container {
  display: flex;
  flex-direction: row;
  justify-content:space-between ;
  align-items: center;
  height: 70px;
  width: 91%;
}
.landing-logo-name {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.landing-navbar-logo {
  height: 50px;
  width: auto;
  border-radius: 50%;
  transition: transform 0.5s ease-in-out;
}
.landing-navbar-logo:hover {
  transform: rotate(360deg); 
}
.landing-navbar-brand {
  font-size: 34px;
  font-weight: bold;
  color: goldenrod;
  text-decoration: none;
}
.landing-navbar-brand:hover{
  color: black;
}
.flex {
  display: flex;
  align-items: center;
}
.searchbar {
  width: 500px;
  height: 50px;
  border: none;
}

.button {
  height: 50px;
  width: 50px;
  border: none;
  background-color: white;
  padding: 0px;
}

.button-img:hover {
  transform: scale(0.6);
  transition: 0.5s ease;
}

.button-img {
  height: 100%;
  width: 100%;
  transform: scale(0.5);
}

.landing-navbar-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  gap: 25%;
}

.landing-navbar-wishlist-icon {
  height: 40px;
  width: auto;
}
.wishlist-img:hover {
  transform: scale(1.05);
  transition: 0.5s ease;
}

.landing-navbar-profile-icon {
  height: 40px;
  width: auto;
  border-radius: 50%;
}

.background {
  background-color: #3498db; 
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: white;
  font-size: 30px;
  font-family: Arial, sans-serif;
}

.slider-sell {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.profile-container {
  position: relative;
  display: inline-block;
}

.profile-button {
  font-size: 30px;
  cursor: pointer;
}

.profile-container:hover .slider {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
  display: block;
}

.slider ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.slider li {
  padding: 10px 0;
  cursor: pointer;
}


.slider {
  font-size: 15px;
  position: absolute;
  right: 0px;
  min-width: 150px;
  width: auto;
  background-color: #333;
  color: white;
  padding: 15px;
  border-radius: 10px;
  opacity: 0; 
  pointer-events: none; 
  transform: translateX(-20px);
  transition: all 0.3s ease;
  z-index: 1;
}

.flex480{
  display: none;
 }

/* Media Queries for different screen sizes */
@media (max-width: 1024px) {
  .landing-navbar-logo {
    height: 40px;
    width: auto;
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;
}
.landing-navbar-brand {
  font-size: 25px;
  font-weight: bold;
  color: goldenrod;
  text-decoration: none;
}
.searchbar {
  width: 400px;
  height: 50px;
  border: none;
}
.landing-navbar-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 91%;
}
.landing-navbar-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  gap: 25px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider {
  font-size: 10px;
  position: absolute;
  right: 0px;
  min-width: 110px;
  width: auto;
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  transform: translateX(-20px);
  transition: all 0.3s ease;
  z-index: 1;
}
}

@media (max-width: 786px) {
  .searchbar {
    width: 250px;
    height: 40px;
    border: none;
    margin-left: 0px;
    border-radius: 20px 0px 0px 20px;
    margin-top: 0px;
    
  }
  .button {
    height: 40px;
    width: 40px;
    border: none;
    margin-top: 0px;
    background-color: white;
    border-radius: 0px 20px 20px 0px;
 }
 .landing-navbar-brand {
  font-size: 20px;
  font-weight: bold;
  color: goldenrod;
  text-decoration: none;
}
.landing-navbar-logo {
  height: 35px;
  width: auto;
  border-radius: 50%;
  transition: transform 0.5s ease-in-out;
}

.flex {
  display: flex;
  align-items: center;
   width: auto;
  
}
.landing-navbar-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 91%;
  gap: 25px;
}
.landing-navbar-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  gap: 10px;
}
.profile-button {
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
}
.slider {
  font-size: 10px;
  position: absolute;
  right: 0px;
  min-width: 110px;
  width: auto;
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  transform: translateX(-20px);
  transition: all 0.3s ease;
  z-index: 1;
}
}

@media (max-width: 480px) {
  .landing-navbar-logo {
    height: 30px;
    width: auto;
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;
}
.landing-navbar-brand {
    font-size: 17px;
    font-weight: bold;
    color: goldenrod;
    text-decoration: none;
}
.landing-navbar-Container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  height: 70px;
  width: 91%;
}
.searchbar {
  width: 180px;
  height: 28px;
  border: none;
  margin-left: 0%;
  border-radius: 20px 0px 0px 20px;
  margin-top: 0px;
}
.button {
  height: 28px;
  width: 28px;
  border: none;
  margin-top: 0px;
  background-color: white;
  border-radius: 0px 20px 20px 0px;
}
.landing-logo-name {
  display: flex;
  flex-direction: row;
  gap: 2px;
  height: 32px;
  padding: 1%;
}
.landing-navbar-icon {
  display: none;
}
.flex {
  display: none;
}
.landing-navbar-profile-icon480 {
  height: 30px;
  width: auto;
  border-radius: 50%;
}
.landing-navbar-wishlist-icon480 {
  height: 30px;
  width: auto;
  border-radius: 50%;
}
.profile-button480 {
  font-size: 0px;
  cursor: pointer;
  padding: 10px;
}
.slider480 {
  font-size: 10px;
  position: absolute;
  right: 0px;
  min-width: 110px;
  width: auto;
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  transform: translateX(-20px);
  transition: all 0.3s ease;
  z-index: 1;
}
.flex480 {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 30px;
  width: auto;
  margin-top: -20px;
}
.landing-navbar-icon480 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  height: 30px;
}
.profile-container480 {
  position: relative;
  display: inline-block;
}
.profile-container480:hover .slider480 {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
  display: block;
}
.slider480 li {
  padding: 10px 0;
  cursor: pointer;
}
.slider480 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
}
