
.main {
      padding: 40px;
      display: flex;
      flex-wrap: wrap;
      gap: 70px;
      justify-content: center;
      /* margin-left: 50px; */
      /* background: linear-gradient(to right, #ffe6f0, #fff0f5); */
    }
    
    .spansize {
      height: auto;
      width: 250px;
      /* margin-left: 30px; */
      text-decoration: none;
      color: black;
      text-align: center;
      
    }
    
    .img-container:hover {
      transform: scale(1.08);
     } 
    
    .img-container {
      transition: transform 0.5s ease;
      position: relative;
      height: 300px;
      width: 250px;
      border-radius: 10%;
      overflow: hidden;
    }
    
    .imgsize {
      height: 100%;
      width: 100%;
      border-radius: 10%;
      object-fit: contain;
    }
    
    .overlay-title {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      color: black;
      padding: 5px 10px;
      border-radius: 10px;
      font-weight: bold;
      font-size: 18px;
      word-break: break-word;
      width: 106px;
    }
    
    .namesize h4 {
      width: 200px;
      margin-left: 50px;
      word-break: break-word;
    }
    
    .wishsize {
      height: 30px;
      width: 50px;
    }
    
    .heart {
      color: gray;
      font-size: 20px;
    }
    
    .wishimg {
      height: 20px;
      width: 20px;
      cursor: pointer;
      border-radius: 50%;
    }
    
    .namesize {
      height: 48px;
      width: 250px;
      margin-top: 15px;
      font-family: 'Times New Roman', Times, serif;
      font-size: medium;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
    .extrasize {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
      padding: 10px;
      background-color: #fff3cd;
      border-left: 5px solid #ffc107;
      border-radius: 8px;
      font-size: 15px;
      color: #444;
    }
    .extrasize p {
      margin: 2px 0;
      display: grid;
    }
    
    
    .textsize {
      height: 30px;
      overflow: hidden;
      width: 250px;
      margin-top: 15px;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      font-size: medium;
      margin-bottom: 5px;
      color: black;
    }
 
    .buy {
      width: 250px;
      border-radius: 10px;
      border: 0px solid;
      background-color: tomato;
      text-align: center;
      height: 40px;
      /* transition: 1.5s; */
      font-weight: bold;
    }
    
    .buy:hover {
      color: white;
      /* background-color: rgba(128, 255, 0.1); */
      font-size: 20px;
      background-color: green;
    }
    