.contact {
    width: 100%;
    height: fit-content;
    padding: 25px;
    background-color: black;
    display: flex;
    flex-direction: row;
}
.footer-conrtaindiv{
    display: flex;
        flex-direction: row;
        width: 98%;
        height: auto;
        padding: 1%;
}
/* .contact>div{
    display: flex;
    flex-direction: row;
} */

.contact-detail {
    color: white;
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-details {
    color: white;
    font-size: 25px;
}

.image {
    width: auto;
    height: 30px;
    border-radius: 10px;
    margin-right: 20px;
}

.social-media {
    color: white;
    width: 50%;
    text-align: center;

}

.pp {
    color: white;
    font-size: 25px;
}

.test {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.test:hover{
    color: blue;
}
.tast {
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.footer-social{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.footer-socials{
    height: auto;
    width: 30px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}
.footer-socials:hover{
    transform: rotate(360deg);
    
}
/* 
@media(min-width:2400px){
    .contact {
        width: 100%;
        height: auto;
        background-color: black;
        text-align: center;
        justify-content: center;
    }
    
    .contact-detail {
        color: white;
        text-align: center;
    }

    .contact-details {
        color: white;
        font-size: 55px;
    }

    .image {
        width: 52px;
        height: auto;
        margin-right: 20px;
    }

    .social-media {
        color: white;
        text-align: center;
    }

    .pp {
        color: white;
        font-size: 55px;
    }

    .test {
        color: white;
        text-decoration: none;
        font-size: 35px;
    }

    .tast {
        color: white;
        text-decoration: none;
        font-size: 29px;
    }
} 
      */ 
/* @media(min-width:1444px){
    .contact {
        width: 100%;
        height: auto;
        background-color: black;
        text-align: center;
        justify-content: center;
    }
    .footer-conrtaindiv{
        display: flex;
            flex-direction: row;
            width: 98%;
            height: auto;
            padding: 1%;
    }
    .contact-detail {
        color: white;
        text-align: center;
    }
   

    .contact-details {
        color: white;
        font-size: 25px;
    }

    .image {
        width: 30px;
        height: auto;
        margin-right: 10px;
    }

    .social-media {
        color: white;
        text-align: center;
    }

    .pp {
        color: white;
        font-size: 25px;
    }

    .test {
        color: white;
        text-decoration: none;
        font-size: 21px;
    }

    .tast {
        color: white;
        text-decoration: none;
        font-size: 15px;
    }
}
 */

@media (max-width:1024px) {
    .contact {
        width: 100%;
        height:auto;
        background-color: black;
        text-align: center;
        justify-content: center;
    }
   
    .contact-detail {
        color: white;
        text-align: center;
    }

    .contact-details {
        color: white;
        font-size: 25px;
    }

    .image {
        width: 30px;
        height: auto;
        margin-right: 10px;
    }

    .social-media {
        color: white;
        text-align: center;
    }

    .pp {
        color: white;
        font-size: 25px;
    }

    .test {
        color: white;
        text-decoration: none;
        font-size: 21px;
    }

    .tast {
        color: white;
        text-decoration: none;
        font-size: 15px;
    }
}

@media (max-width:786px) {
    .contact {
        width: 100%;
        height: auto;
        background-color: black;
        text-align: center;
        justify-content: center;
    }

    .contact-detail {
        color: white;
        text-align: center;
    }

    .contact-details {
        color: white;
        font-size: 18px;
    }

    .image {
        width: 25px;
        height: auto;
        margin-right: 10px;
    }

    .social-media {
        color: white;
        text-align: center;
    }

    .pp {
        color: white;
        font-size: 18px;
    }

    .test {
        color: white;
        text-decoration: none;
        font-size: 18px;
    }

    .tast {
        color: white;
        text-decoration: none;
        font-size: 15px;
    }

}

@media (max-width:480px) {
    .contact {
        width: 100%;
        height: auto;
        background-color: black;
        text-align: center;
        justify-content: center;
    }
    .footer-conrtaindiv{
        display: flex;
        flex-direction: row;
        width: 98%;
        height: auto;
        padding: 1%;
    }
    .contact-detail {
        color: white;
        text-align: center;
    }

    .contact-details {
        color: grey;
        font-size: 15px;
    }

    .image {
        width: 15px;
        height: auto;
        margin-right: 5px;
    }

    .social-media {
        color: white;
        text-align: center;
    }

    .pp {
       font-size: 10px;
        color: grey;
        font-size: 15px;
    }

    .test {
        color: white;
        text-decoration: none;
        font-size: 10px;
    }

    .tast {
        color: white;
        text-decoration: none;
        font-size: 10px;
    }

}