.ht1{
    height: 70px;
    width: 100%;
    background-color: lightgray;
    display: flex;
}
.logo{
    margin-left: 15px;
    margin-top: 12px;
    margin-right: 10px;
}
.ht2{
    margin-top: 9px;
    margin-left: 250px;  
}
.ht3:hover{
    color: goldenrod;
}
.ht3{
    text-decoration: none;
    color: black;
    font-size: 32px;
    font-weight: bold;
}
.ht5{
    height: 50px;
    width: auto;
    transition: 1.5s;
}
.ht5:hover{
    transform: scale(1.3);
}
.menu{
    height: 50px;
    width: auto;
    color: black;
    margin-top: 9px;
    margin-left: 30px;
}
.drop{
    display: none;
   }
   
@media (max-width:1024px) {
   .drop{
    display: none;
   }
   
.ht2{
    margin-top: 9px;
    margin-left: 100px;  
}
}

@media (max-width:786px) {
    .drop{
        display: none;
       }
       
.ht2{
    margin-top: 19px;
    margin-left: 50px;  
}
.ht3{
    text-decoration: none;
    color: black;
    font-size:20px;
    font-weight: bold;
}
.ht5{
    height: 40px;
    width: auto;
}
}

@media (max-width:480px) {
    .ht2{
        display: none;
    }
    .drop{
        display: block;
        
    }
    .dropdown-menu{
        background-color: silver;
        border: solid 1px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        text-align: center;
        
    }
.ht3{
    
    color: goldenrod;
    font-size: 20px;
    font-weight: bold;
}


}
