  .homepage-main{
    height: 90vh;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 201, 83);
  }
  .homepage-background-img {
    height: 360px;
    width: 40%;
  }
  .button-login-signup{ 
          height: auto;
          width: auto;
          display: flex; 
          gap: 50px;
  }
  
  .homepage-login {
    background: orange;
    text-align: center;
    font-size: 30px;
    color: white;
    width: 150px;
    height: auto;
    font-weight: bold;
    text-decoration: none;
}
  .homepage-login:hover{
     background-color: blue;
  }
  .homepage-signup {
    background: orange;
    text-align: center;
    font-size: 30px;
    color: white;
    width: 150px;
    height: auto;
    font-weight: bold;
    text-decoration: none;
}
  .homepage-signup:hover{
    background-color: blue;
  }
  @media(max-width:1024px){
    .homepage-login {
      background: orange;
      text-align: center;
      font-size: 27px;
      color: white;
      width: 120px;
      height: auto;
      font-weight: bold;
      text-decoration: none;
  }
  .homepage-signup {
    background: orange;
    text-align: center;
    font-size: 27px;
    color: white;
    width: 120px;
    height: auto;
    font-weight: bold;
    text-decoration: none;
}
.button-login-signup {
  height: auto;
  width: auto;
  display: flex;
  gap: 40px;
  }
  .homepage-background-img {
    height: 300px;
    width: 50%;
}
}
  @media(max-width:786px){
    .button-login-signup {
      height: auto;
      width: auto;
      display: flex;
      gap: 40px;
  }
  .homepage-background-img {
    height: 274px;
    width: 65%;
}
.homepage-login {
  background: orange;
  text-align: center;
  font-size: 25px;
  color: white;
  width: 120px;
  height: auto;
  font-weight: bold;
  text-decoration: none;
}
.homepage-signup {
  background: orange;
  text-align: center;
  font-size: 25px;
  color: white;
  width: 120px;
  height: auto;
  font-weight: bold;
  text-decoration: none;
}
}
  @media(max-width:480px){
    .homepage-main{
      height: 90vh;
      width: 100%;
      position: relative;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      background-color: rgb(255, 201, 83);
    }
    .homepage-background-img{
       height: 240px;
       width: 100%;
    }
    .button-login-signup{ 
            height: auto;
            width: auto;
            display: flex;
            flex-direction: row; 
    }
    .homepage-login{ 
      background: orange;
      text-align: center;
      padding: 10px;
      font-size: 15px;
      color: white;
       width: 80px;
       height: auto;
       font-weight: bold;
       text-decoration: none;
    }
    .homepage-signup{
      background: orange;
      text-align: center;
      padding: 10px;
      font-size: 15px;
      color: white;
       width: 80px;
       height: auto;
       font-weight: bold;
       text-decoration: none;
    }
    

  }