.notfound{
    height: 700px;
    width: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
